<div class="container">

    <div class="first_column">
        <img [src]= "imageURL" onerror="this.src='/assets/images/platzhalter.png'">
    </div>

    <div class="second_column">
        <div class="description">
        <span>{{product.category}}</span>
        <h2>{{product.title}}</h2>
        <p>{{product.description}}</p>
        </div>
        <br>
        <mat-divider></mat-divider>
        <br>
        <div class="product-price">
            <span>CHF {{product.price.toFixed(2)}}</span>
            <div *ngIf = "!admin; else isAdmin">
                <button mat-raised-button color = "primary" (click) = "handleAdd()">Add to Cart </button>
                <button mat-raised-button color = "primary" [routerLink] = "'/shop/cart/'">Go to Cart</button>
            </div>
            <ng-template #isAdmin>
                <button mat-raised-button color = "primary" (click) = "handleUpdate()">Update Product</button>
            </ng-template>
        </div>

    </div>

</div>
