<mat-card id="container">

    <div id="column">
        <img [src]= "imageURL" onerror="this.src='/assets/images/platzhalter.png'">
    </div>

    <div id="column">
        <div id="description">
        <a [routerLink] = "'/shop/'" (click) = "setFilter()" ><span>{{product.category}}</span></a>
        <h1>{{product.title}}</h1>
        <p>{{product.description}}</p>
        </div>
        <br>
        <br>
        <div class="product-price">
            <span>CHF {{product.price.toFixed(2)}}</span>
            <div *ngIf = "!admin; else isAdmin">
                <button (click) = "handleAdd()">Add to Cart </button>
                <button id="gotocart" [routerLink] = "'/shop/cart/'">Go to Cart</button>
            </div>
            <ng-template #isAdmin>
                <button mat-raised-button color = "primary" (click) = "handleUpdate()">Update Product</button>
            </ng-template>
        </div>

    </div>

</mat-card>
