.container {
    height: 600px;
    padding: 30px;
}
#background{
    background-color: rgb(212, 233, 240);
    position:static;
    height: 500%;
}

#titleContainer{
    display: block;
box-sizing: border-box;
height: 1500px;
background-color: white;
clip-path: ellipse(81% 100% at 79.45% 0%);
padding-left: 4rem;
font-family: "helvetica neue";
}

#posts{
    position: absolute;
    top: 25%;
}

img{
    object-fit: cover;
    height: 150px;
    margin-top: 2rem;

}