<div class="filtcat" *ngIf="isShopRoute()">
    <button mat-button (click)="setAll()" [routerLink] = "'shop'">All</button>
    <button mat-button (click)="setOffice()" [routerLink] = "'shop'">Office</button>
    <button mat-button (click)="setFashion()" [routerLink] = "'shop'">Fashion</button>
    <button mat-button (click)="setLifestyle()" [routerLink] = "'shop'">Lifestyle</button>
</div>
<div class="filtcat" *ngIf="isBoardRoute()">
    <button mat-button (click)="setfiltarg(0)">most popular</button>
    <button mat-button (click)="setfiltarg(1)">newest</button>
    <button mat-button (click)="setAll()">All</button>
    <button mat-button (click)="setTech()">technical</button>
    <button mat-button (click)="setProg()">programming</button>
    <button mat-button (click)="setTheo()">theoretical</button>
    <button mat-button (click)="setOther()">other</button>
</div>
