<div class="dashboard-component" *ngIf="isShopRoute() || isBoardRoute()">
<div class="filtcat" *ngIf="isShopRoute()">
    <p class="filter-description">Filter Products</p>
    <button mat-button class="dashboard-button"(click)="setAll()" [routerLink] = "'shop'">All</button>
    <button mat-button class="dashboard-button" (click)="setOffice()" [routerLink] = "'shop'">Office</button>
    <button mat-button class="dashboard-button" (click)="setFashion()" [routerLink] = "'shop'">Fashion</button>
    <button mat-button class="dashboard-button" (click)="setLifestyle()" [routerLink] = "'shop'">Lifestyle</button>
</div>
<div class="filtcat" *ngIf="isBoardRoute()">
    <p class="filter-description">Filter Posts</p>
    <button mat-button class="dashboard-button"(click)="setfiltarg(0)">Most popular</button>
    <button mat-button class="dashboard-button" (click)="setfiltarg(1)">Newest</button>
    <mat-accordion>
        <mat-expansion-panel id="submenu" >
            <mat-expansion-panel-header >
                <mat-panel-title class="panelTitle">
                    Categories
                </mat-panel-title>
            </mat-expansion-panel-header>
            <button mat-button class="dashboard-button" (click)="setAll()">All</button>
            <button mat-button class="dashboard-button" (click)="setOrg()">Organization</button>
            <button mat-button class="dashboard-button" (click)="setExer()">Exercises</button>
            <button mat-button class="dashboard-button" (click)="setExam()">Exams</button>
            <button mat-button class="dashboard-button" (click)="setOther()">Other</button>
        </mat-expansion-panel>
        <mat-expansion-panel id="submenu" >
            <mat-expansion-panel-header >
                <mat-panel-title class="panelTitle">
                    Semester
                </mat-panel-title>
            </mat-expansion-panel-header>
            <button mat-button class="dashboard-button" (click)="setSemester(0)">Alle</button>
            <button mat-button class="dashboard-button" (click)="setSemester(1)">1.Semester</button>
            <button mat-button class="dashboard-button" (click)="setSemester(2)">2.Semester</button>
            <button mat-button class="dashboard-button" (click)="setSemester(3)">3.Semester</button>
            <button mat-button class="dashboard-button" (click)="setSemester(4)">4.Semester</button>
            <button mat-button class="dashboard-button" (click)="setSemester(5)">5.Semester</button>
            <button mat-button class="dashboard-button" (click)="setSemester(6)">6.Semester</button>
        </mat-expansion-panel>
    </mat-accordion>
    
</div>
</div>