<div class="filtcat" *ngIf="isShopRoute()">
    <button mat-button (click)="setAll()" [routerLink] = "'shop'">All</button>
    <button mat-button (click)="setOffice()" [routerLink] = "'shop'">Office</button>
    <button mat-button (click)="setFashion()" [routerLink] = "'shop'">Fashion</button>
    <button mat-button (click)="setLifestyle()" [routerLink] = "'shop'">Lifestyle</button>
</div>
<div class="filtcat" *ngIf="isBoardRoute()">
    <button mat-button (click)="setAll()" [routerLink] = "'board'">All</button>
    <button mat-button (click)="setTech()" [routerLink] = "'board'">technical</button>
    <button mat-button (click)="setProg()" [routerLink] = "'board'">programming</button>
    <button mat-button (click)="setTheo()" [routerLink] = "'board'">theoretical</button>
    <button mat-button (click)="setOther()" [routerLink] = "'board'">other</button>
</div>
