button {
    margin-left:  0px;
    margin-right: 0px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

input {
    text-align: center;
    width : 20px;
    height: 20px;
    align-self: center;
    margin : 0px;
    border-radius: 3px;
    border-width: 1pt;
}

figcaption {
    padding-top: 10%;
    padding-left: 10%;
}

img{
    max-width: 50%;
}

.no-items{
    display:flex;
    height: 100%;
    align-content: center;
    justify-content: center;
}

.mat-toolbar{
    padding-top: 2rem;
    background-color: inherit;
    justify-content: center;
    margin-bottom: 5%;
}

.headline{
    text-align: center;
    font-weight: bold;
    font-size: 20pt;
}

.mat-input-element:disabled, .mat-form-field-type-mat-native-select.mat-form-field-disabled .mat-form-field-infix::after {
    color: black;
}

.mat-icon-button :hover{
    opacity: 0.5;
}

.item{
    background-color: white;
    padding: 1rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); 
    display: inline-flex;
    justify-content: space-between;
    width: 80%;
    border-radius: 4px;
    align-items: center;
    margin-top: 10px;
    margin-left: 10%;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    flex-wrap: nowrap;
}

.name{
    opacity: 0.8;
    width: 15%;
    text-align: center;
}

.price{
    width:  10%;
    text-align: right;
}

.item-actions{
    display: inline-flex;
    flex-wrap: nowrap;
}

.mat-raised-button{
    border: 0px;
    height: 2.5rem;
    border-radius: 1.2rem;
    padding-left: 1rem;
    padding-right: 1rem;
    background-color: rgb(28,53,161); 
    color: white;
    font-weight: bold;
    cursor:pointer;
    box-shadow: none;
}

.mat-raised-button:hover{
    background-color:dodgerblue;
}

.mat-toolbar{
    display: inline-flex;
    justify-content: flex-start;
}

#empty-cart-figure {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 50%;
    text-align: center;
    font-size: 20pt;
    font-family: Bahnschrift;
    margin: 0;
}

#empty-cart{
    width: 40%;
}

#thumbnail {
    height: 90px;
    width: 90px;
    object-fit: contain;
    display: inline-block;
}

#trash :hover{
    opacity: 1;
    color: tomato;
}

#button-wrapper{
    width: 40%;
    display: inline-flex;
    justify-content: flex-start;
}

#continue-shopping{
    color: black;
    background-color: transparent;
}

#total{
    padding-left: 15px;
}