<div class ="no-items" *ngIf = "(products.length == 0); else cartFilled">
    <figure id = "empty-cart-figure">
        <img id = "empty-cart" src = "/assets/images/empty_cart.png" >
        <figcaption>No items in cart</figcaption>
    </figure>
</div>
<ng-template #cartFilled>
    <mat-toolbar>
        <div id = "button-wrapper">
            <button mat-raised-button [routerLink] = "'..'">
                <mat-icon>arrow_left</mat-icon>
                Continue Shopping
            </button>
        </div>
        <h1 class = "headline">Shopping Cart</h1>
    </mat-toolbar>
    <div *ngFor = "let product of products" >
        <div class = "item">
            <img id = "thumbnail" [src] = "concatURL(product.product.productId)">
            <p class = "name">{{product.product.title}}</p>
            <div class = "item-actions">
                <button id = "remove" mat-icon-button (click) = "handleDecrease(product)" [disabled] = "isDisabled(product)">
                    <mat-icon>remove</mat-icon>
                </button>
                <input class = "qtyInput" matInput type = "number" min = "1" max = "99" value = "{{product.quantity}}" disabled = "disabled">
                <button mat-icon-button (click) = "handleIncrease(product)">
                    <mat-icon>add</mat-icon>
                </button>
                <button  mat-icon-button (click) = "handleRemove(product)" title = "Remove from shopping cart">
                    <mat-icon>remove_shopping_cart</mat-icon>
                </button>
            </div>
            <p class = "price">CHF {{getPrice(product).toFixed(2)}}</p>
        </div>
    </div>
    <div class = "item">
        <p id = "total">Total</p>
        <p>CHF {{getTotal().toFixed(2)}}</p>
    </div>
    <div class = "item">
        <button id = "trash" mat-icon-button (click) = "handleRemoveAll()">
            <mat-icon>delete_forever</mat-icon>
        </button>
        <button [routerLink]="'order'" class = "checkout" mat-raised-button >
            Go to Checkout
            <mat-icon>arrow_right</mat-icon>
        </button>
    </div>
</ng-template>