

<h1>{{title}}</h1>

<button (click)="createPost()" *ngIf="loggedIn">Create new Post</button>

<p>{{description}}</p>

<div *ngIf="creatingPost" id="postCreator">
    <h1>create post</h1>
    <input type="text" placeholder="title" name="title" [(ngModel)]="newTitle"> 
    <input type="text" placeholder="content" name="content" [(ngModel)]="newContent">
    <input type="text" placeholder="semester" name="semester" [(ngModel)]="newSemester">
    <button (click)="submitPost()" >Submit Post</button>
</div>

<app-post-list [boardId]="id">
    
</app-post-list>



