<mat-card>
    <mat-card-content>
            <h1 id="post-tit" [routerLink] = "['/post', post.postId]">
                  {{this.post.title}}
            </h1>
              <p>{{(this.post.content.length>200)? (this.post.content | slice:0:200)+'...':(this.post.content)}}</p>
              <div id="post-preview"><div><mat-icon>favorite_outline </mat-icon><span class="post-att"> {{this.post.likes}}</span></div>
              <div><mat-icon>calendar_today</mat-icon><span class="post-att"> {{this.post.date}}</span></div></div>

    </mat-card-content>
</mat-card>
