#post-preview {
    position:relative;
    padding-top:4px;
}

.mat-icon {
    position:relative;
    
}

.post-att {
    position:absolute;
    padding-top:2px;
    color: gray;
}

#post-tit {
    cursor: pointer; 
}

#post-tit:hover{
    color: grey;
}

mat-card{
    margin-left: 8%;
    margin-right: 8%;
    border-left: teal 7px solid;
    background-color: white;
}

h1{
    font-size: 1.2rem;
    margin-bottom: 0.2rem;
}

#topBar{
    display: flex;
}

#cal{
    position: absolute;
    right: 90px;
}