<mat-toolbar>
    <button mat-icon-button [routerLink] = "'/shop/cart'" title = "Go to shopping cart" matBadge = {{productCount}} matBadgeSize = "small"
            matBadgeHidden = {{!productCount}} matBadgeColor = "warn">
        <mat-icon>shopping_cart</mat-icon>
    </button>
    <div class="creation-container" *ngIf="admin">
        <button mat-raised-button (click)="handleCreateProduct()">Add a product</button>
    </div>
    <input id="searchBar" type="text" [(ngModel)]="searchWord" name="searchWord" placeholder="Search">
    <button mat-raised-button *ngIf="loggedIn" [routerLink] = "'/shop/orders/'">
        All Orders
    </button>
</mat-toolbar>
<app-product-list [searchTerm]="searchWord"></app-product-list>