.action-button-container{
    margin:35px;
}

.mat-card{
    background-color: white;
    margin: 50px;
    margin-bottom: 0;
}

.mat-card-header{
    flex-direction: row-reverse;
    justify-content: flex-end;
    align-items: center;
}

.image-container{
    position: relative;
    display: flex;
    align-content:flex-end;
    margin-right: 10%;
}

.mat-button{
    color: white;
    background-color: rgba(0, 0, 0, 0.685); 
    position:absolute;
    top: 80%;
    left: 60%;
    margin: 0 !important;
}

.mat-button:hover{
    background-color: rgba(37, 37, 37, 0.685);
}

.menu-button{
    margin: 0 !important;
}

.mat-card-title{
    font-weight: bold;
}

.additional-info{
    margin-top: 0;
}

.profile-picture{
    background-color: black;
    height: 140px;
    width: 140px;
    object-fit: contain;
    border-radius: 50%;
    flex-shrink: 0;
}

.mat-card-title{
    display:flex;
    align-items: center;
}

.mat-card-subtitle{
    display:flex;
    align-items: center;
}

.footer {
    height: 35%;
    background: -webkit-linear-gradient(bottom right, #9EB8FF, #213BA5);
    background: -moz-linear-gradient(bottom right, #9EB8FF, #213BA5);
    background: linear-gradient(to top left, #9EB8FF, #213BA5);
    clip-path: ellipse(108% 100% at 108% 100%);
    position: fixed;
    bottom: 0;
    left: 1;
    width: 100%;
}

.header{
    height: 500px;
    background: -webkit-linear-gradient(top left, #9EB8FF, #213BA5);
    background: -moz-linear-gradient(top left, #9EB8FF, #213BA5);
    background: linear-gradient(to bottom right, #9EB8FF, #213BA5);    clip-path: ellipse(200% 90% at -140% 0%);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

input:disabled{
    color:black
}

.warnMsg{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: red;
}

.warn-buttons:hover{
    background-color: orange;
}

#id{
    font-size: 5pt;
}

#submit{
    border-radius: 1.2rem;
    background-color: rgb(28,53,161); 
    color: white;
    font-weight: bold;
}

#submit:hover{
    background-color: dodgerblue;
}

#edit:hover{
    background-color: lightgray;
}
