<mat-card *ngIf="!loggedIn && !isLogin">
    <h2>Register</h2>
    <mat-form-field>
        <input matInput type="text" required placeholder="User Name"  name="name" [(ngModel)]="userToRegister.userName" (ngModelChange)="checkStatusButton()">
    </mat-form-field>
    <mat-form-field>
        <input matInput type="password" required placeholder="Password" name="password"  [(ngModel)]="userToRegister.password" (ngModelChange)="checkUserPassword()">
        <div *ngIf="invalidPassword">
        <br>
        {{invPwMsgRegistration}}
        </div>
    </mat-form-field>
    <br>
    <mat-form-field>
        <input matInput type="text" required placeholder="First Name" name="fname"  [(ngModel)]="userToRegister.fname" (ngModelChange)="checkStatusButton()">
    </mat-form-field>

    <mat-form-field>
        <input matInput type="text" required placeholder="Last Name" name="lname" [(ngModel)]="userToRegister.lname" (ngModelChange)="checkStatusButton()" >
    </mat-form-field>
    <br>
    <mat-form-field>
        <input matInput type="email" required placeholder="E-Mail" name="email" [(ngModel)]="userToRegister.email" (ngModelChange)="checkStatusButton()" >
    </mat-form-field>
    <br>
    <h3>Adress</h3>
    <mat-form-field>
        <input matInput type="text" placeholder="Street Name" name="street" [(ngModel)]="userToRegister.street" (ngModelChange)="checkStatusButton()">
    </mat-form-field>
    <mat-form-field>
        <input matInput type="number" placeholder="House Number" name="housenr" [(ngModel)]="userToRegister.housenr" (ngModelChange)="checkStatusButton()">
    </mat-form-field>
    <mat-form-field>
        <input matInput type="test" min="1" placeholder="ZIP Code" name="zipCode" [(ngModel)]="userToRegister.zipCode" (ngModelChange)="checkStatusButton()">
    </mat-form-field>
    <mat-form-field>
        <input matInput type="text" placeholder="City" name="city" [(ngModel)]="userToRegister.city" (ngModelChange)="checkStatusButton()">
    </mat-form-field>

    <br>
    <mat-form-field>
        <input matInput type="date" placeholder="Birthdate" name="birthday" [(ngModel)]="userToRegister.birthday">
    </mat-form-field>
    <br>
    <mat-form-field>
        <input matInput type="tel" placeholder="Phone Number" name="phonenumber" [(ngModel)]="userToRegister.phonenumber" (ngModelChange)="checkStatusButton()">
    </mat-form-field>
    <button mat-flat-button color="primary" [disabled]="!activeRegButton" (click)="registerUser()">Register</button>
    <div *ngIf="!activeRegButton">
        <p class="warnMsg">{{invRegDataMsg}}</p>
    </div>
    <br>
    <span style="color:red" *ngIf="!!registrationFeedback"> {{ registrationFeedback  }}</span>
</mat-card>


<mat-card *ngIf="!loggedIn && isLogin">
    <h3>Login</h3>

    <div >
        <mat-form-field *ngIf="emailEmpty">
            <input matInput type="text" placeholder="User Name" name="name" [(ngModel)]="userToLogin.userName" (input)="checkIfUsernameEmpty()" >
        </mat-form-field>
        <mat-form-field *ngIf="userNameEmpty">
            <input matInput type="email" placeholder="E-Mail" name="email" [(ngModel)]="userToLogin.email" (input)="checkIfEmailEmpty()">
        </mat-form-field>
        <mat-form-field>
            <input matInput type="password" placeholder="Password" name="password" [(ngModel)]="userToLogin.password">
        </mat-form-field>
        <button mat-flat-button color="primary" (click)="loginUser()">Login</button>
        <p style="color: red;" *ngIf="falseLogin">{{loginFeedback}}</p>
    </div>

    <div *ngIf="loggedIn">
        <button mat-flat-button color="warn" (click)="userService.logout()">Logout</button>
    </div>
</mat-card>
