<mat-card>
  <h3>Register</h3>
  <mat-form-field>
    <input matInput type="text" placeholder="User Name" name="name" [(ngModel)]="userToRegister.username">
  </mat-form-field>
  <mat-form-field>
    <input matInput type="password" placeholder="Password" name="password" [(ngModel)]="userToRegister.password">
  </mat-form-field>
  <mat-form-field>
    <input matInput type="text" placeholder="Firstname" name="firstname" [(ngModel)]="userToRegister.firstname">
  </mat-form-field>
  <mat-form-field>
    <input matInput type="text" placeholder="Lastname" name="lastname" [(ngModel)]="userToRegister.lastname">
  </mat-form-field>
  <mat-form-field>
    <input matInput type="text" placeholder="Email" name="email" [(ngModel)]="userToRegister.email">
  </mat-form-field>
  <mat-form-field>
    <input matInput type="text" placeholder="Street" name="street" [(ngModel)]="userToRegister.street">
  </mat-form-field>
  <mat-form-field>
    <input matInput type="text" placeholder="Zip code" name="zip" [(ngModel)]="userToRegister.zip">
  </mat-form-field>
  <mat-form-field>
    <input matInput type="text" placeholder="City" name="city" [(ngModel)]="userToRegister.city">
  </mat-form-field>
  <mat-form-field>
    <input matInput type="text" placeholder="Birthdate" name="birthdate" [(ngModel)]="userToRegister.birthdate">
  </mat-form-field>
  <mat-form-field>
    <input matInput type="text" placeholder="Telephone number" name="telephone" [(ngModel)]="userToRegister.telephone">
  </mat-form-field>
  <mat-form-field>
  <button mat-flat-button color="primary" (click)="registerUser()">Register</button>
  </mat-form-field>
 </mat-card>

<mat-card>
  <h3>Login</h3>

  <div *ngIf="!loggedIn">
    <mat-form-field>
      <input matInput type="text" placeholder="User Name" name="name" [(ngModel)]="userToLogin.username">
    </mat-form-field>
    <mat-form-field>
      <input matInput type="password" placeholder="Password" name="password" [(ngModel)]="userToLogin.password">
    </mat-form-field>
    <button mat-flat-button color="primary" (click)="loginUser()">Login</button>
  </div>

  <div *ngIf="loggedIn">
    <button mat-flat-button color="warn" (click)="logoutUser()">Logout</button>
  </div>
</mat-card>

<mat-card>
  <h3>Secure Endpoints</h3>
  <button mat-flat-button color="primary" (click)="accessUserEndpoint()">User Endpoint</button>
  {{ endpointMsgUser }}
  <hr>
  <button mat-flat-button color="primary" (click)="accessAdminEndpoint()">Admin Endpoint</button>
  {{ endpointMsgAdmin }}
</mat-card>
