<mat-card [ngStyle]="{'border-color': borderColor}" class="product-card">
    <mat-card-header [routerLink]="['product', product.productId]">
        <mat-card-title>
            {{product.title}}
        </mat-card-title>
    </mat-card-header>
    <div class="image-container" [routerLink]="['product', product.productId]">
        <img mat-card-image [src]="imageURL" onerror="this.src='/assets/images/platzhalter.png'">
    </div>
    <mat-card-content [routerLink]="['product', product.productId]">
        CHF {{product.price.toFixed(2)}}
    </mat-card-content>
    <mat-card-actions>
        <button mat-icon-button id = "details" [routerLink]="['product', product.productId]" title = "See details">
            <mat-icon>add</mat-icon>
        </button>
        <div *ngIf="admin">
            <button id = "delete" mat-icon-button (click)="handleDelete()" title = "Remove from Store">
                <mat-icon>delete_forever</mat-icon>
            </button>
        </div>
    </mat-card-actions>
</mat-card>
