<mat-card class="product-card">
    <mat-card-header [routerLink]="['product', product.productId]">
        <mat-card-title>
            {{product.title}}
        </mat-card-title>
    </mat-card-header>
    <div class="image-container" [routerLink]="['product', product.productId]">
        <img mat-card-image [src]="imageURL" onerror="this.src='/assets/images/platzhalter.png'">
    </div>
    <mat-card-content [routerLink]="['product', product.productId]">
        CHF {{product.price.toFixed(2)}}
    </mat-card-content>
    <mat-card-actions>
        <button mat-button [routerLink]="['product', product.productId]">Details</button>
        <div *ngIf="admin">
            <button  mat-icon-button color="warn" (click)="handleDelete()">
                <mat-icon>delete_forever</mat-icon>
            </button>
        </div>
    </mat-card-actions>
</mat-card>
