<mat-card *ngIf="this.order.orderId" [routerLink] = "['order', this.order.orderId]">
    <h1>Order Id: #{{this.order.orderId}}</h1>
    <p>Ordered by <span id="fat">{{this.order.customerName}}</span> to {{this.showAddress()}}</p>
    <p>Total Price: CHF {{this.order.price.toFixed(2)}}</p>

    <p *ngIf="this.order.status=='cancelled'">Status: <span id="cancelledStatus">{{this.order.status}}</span></p>
    <p *ngIf="this.order.status=='pending'"> Status: <span id="pendingStatus">{{this.order.status}}</span></p>
    <p *ngIf="this.order.status=='paid'">Status: <span id="paidStatus"> {{this.order.status}}</span></p>
    <p *ngIf="this.order.status=='shipped'">Status: <span id="shippedStatus">{{this.order.status}}</span></p>
</mat-card>
