.board{
    border: black;
    margin: 10px;
    background-color: white;
    border-radius: 7px;
    border-right: 3.5rem solid;
    border-color: teal;
}

#background{
    padding: 0px;
    background-color: lightblue;
    height: 300%
}

#titleContainer{
    display: block;
    box-sizing: border-box;
    height: 400px;
    background-color: rgb(224, 239, 255);
    clip-path: ellipse(126% 100% at -20% 0%);
    padding: 4%;
}

#list{
    position: relative;
    bottom: 8%;
    padding: 8%;
}

#title{
    font-family: Arial, Helvetica, sans-serif;
    padding: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
    border-radius: 1rem;
    display: inline-block;
    color: white;
    background-color: rgb(121, 212, 242);
}

.menu-text{
    font-size: 1.2rem;
}

.menu-button{
    width: 100%;
    text-align: left;
    width: 105%;
    height: 100%;
    padding: 10px;

}
