h1{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
}
h2{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}
a{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: rgb(28, 53, 161);
    text-decoration: none;
}

a:hover{
    color: dodgerblue;
}

#title{
    margin: 3rem;
    text-align: left;
    background-color: rgb(61, 118, 203);
    color: white;
    padding: 1rem;
    display: inline-block;
    border-radius: 1rem;
}