#postCreator{
    border: 5px rgb(130, 46, 133) solid;
    width: 70%;
    height: 70%;
    padding: 5px;
}

.imagePreviewContainer {
    width: 200px;
    height: 100px;
    display: inline-block;
    overflow: hidden;
}

img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.contentInput {
    resize: none;
}

.mat-toolbar{
    display: inline-flex;
    font-family: Bahnschrift;
    background-color: #76b3f0;
    justify-content: center;
}