
<mat-toolbar><input type="text" [(ngModel)]="searchWord" name="searchWord" placeholder="Search"></mat-toolbar>
<h1>{{title}}</h1>

<div *ngIf="loggedIn">
    <button (click)="createPost()"> Create new Post</button>
</div>



<p>{{description}}</p>

<div *ngIf="creatingPost" id="postCreator">
    <h1>create post</h1>

    <input type="text" placeholder="title" name="title" [(ngModel)]="newTitle">
    <input type="text" placeholder="content" name="content" [(ngModel)]="newContent">
    <input type="text" placeholder="semester" name="semester" [(ngModel)]="newSemester">

    <br>
    <br>
    <button type="button" (click)="imageInput.click()">Add a photo</button>
    <input hidden type="file" #imageInput  accept = "image/jpeg, image/png" (change)="processFile($event)">
    <br>
    <div class = "imagePreviewContainer" *ngIf = "imageURL" >
        <img [src] = "imageURL">
    </div>
    <br>
    <button (click)="submitPost()" >Submit Post</button>
</div>


<app-post-list [searchTerm]="searchWord"></app-post-list>
