<div class="user-page">
<div *ngIf="exists">

    <div class = "user-info">
        <mat-card>
            <mat-card-header>
                <div class = "image-container">
                    <img class = "profile-picture" [src] = "this.imageURL">
                    <div class="user-details">
                        <h2>{{this.userName}}</h2>
                        <h2 class="role" *ngIf="admin">Role: Admin</h2>
                        <h2 class="role" *ngIf="!admin">Role: User</h2>
                    </div>
                </div>

            </mat-card-header>
        </mat-card>
    </div>
    <div class="subscriptions">
        <h1 class="subscription-title">Subscriptions</h1>
        <h2 class="empty-section" *ngIf="this.lectures && this.lectures.length < 1">
            This User hasn't subscribed any board
        </h2>
        <mat-card  *ngFor="let subject of this.lectures">
            <h2 class="subscription" [routerLink]="'../../board/' + subject.boardId">{{subject.boardName}}</h2>
        </mat-card>
    </div>
    <div class="post-section">
        <h1 class="post-header">Posts</h1>
        <h2 class="empty-section" *ngIf="this.createdPosts && this.createdPosts.length < 1">This User hasn't posted anything yet</h2>
        <app-post-preview *ngFor="let post of this.createdPosts" [post]="post"></app-post-preview>
    </div>
</div>
<div *ngIf="!exists">
    <h1>ERROR 404: User Not Found</h1>
</div>
</div>