.user-name{
    float: right;
    font-size: 4em;
    margin-left: 50px;
    margin-top: 100px;

}
.profile{
    display: inline-block;
    vertical-align: top;
}
.profile-picture{
    margin-left: auto;
    margin-right: auto;
    background-color: black;
    height: 200px;
    width: 200px;
    object-fit: fill;
    border-radius: 20%;
    flex-shrink: 0;
    float: left;
}
.subject{
    cursor: pointer;
}
.post-header{
    text-align: center;
}
.post-section {
}
.no-posts{
    font-style: italic;
    font-weight: 500;
}
