
<mat-sidenav-container>
    <mat-sidenav-content>
        <img src="/assets/images/logo.png" /> 
        <div class="profile">
            <img class="avatar" src="/assets/images/profile_pic.png" />
            <!-- <div *ngIf="loggedIn"><h3 class="h3side">{{this.user?.username}}</h3></div> -->
            <div *ngIf="loggedIn; else notShow">
                <h3 class="h3side">{{this.user?.username}}</h3>
                <h4 class="h4side">{{this.user?.fname}} {{this.user?.lname}}</h4>
            </div>
            <ng-template #notShow>
                <h3 class="h3side">logge dich ein</h3>
                <h4 class="h4side">hier könnte dein name stehen</h4>
            </ng-template>
            
        </div>
        <mat-divider></mat-divider>
        <button mat-button class="menu-button">
            <mat-icon>home</mat-icon>
            <span class="dashboard">Dashboard</span>
        </button>
        <button mat-button class="menu-button">
            <span class="menutext">Subjects</span>
        </button>
        <button mat-button class="menu-button">
            <span class="menutext">My Lectures</span>
        </button>
        <button mat-button class="menu-button">
            <span class="menutext">Bookmark</span>
        </button>
        <button mat-button class="menu-button">
            <span class="menutext">Shop</span>
        </button>
        <button mat-button class="menu-button">
            <span class="menutext">Settings</span>
        </button>

        <mat-tab *ngIf="loggedIn">
            <h3 class="h3side">{{this.user?.username}} </h3> 
        </mat-tab>
        
    </mat-sidenav-content>
</mat-sidenav-container>
