#background{
    background-color: rgb(222,230,243);
    font-family: arial, Helvetica, sans-serif;
    height: 100%;
    top:0;
}
h1{
    text-align: center;
}
p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    margin-left: 2%;
    margin-right: 2%;
}
.userAdress{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    margin-left: 1rem;
    margin-right: 1rem;
    font-weight: bold;
}
mat-card{
    margin-left: 1rem;
    margin-right: 1rem;
    background-color: white;
}
mat-form-field{
    color: inherit;
    margin-left: 1rem;
}
::ng-deep .mat-focused .mat-form-field-label {
    /*change color of label*/
    color: rgb(28, 53, 161) !important;
}

::ng-deep.mat-form-field-underline {
    /*change color of underline*/
    background-color: rgb(28, 53, 161) !important;
}
::ng-deep.mat-option {
    /*change color of underline*/
    background-color: rgb(222,230,243) !important;
}

::ng-deep.mat-form-field-ripple {
    /*change color of underline when focused*/
    background-color: rgb(28, 53, 161) !important;;
}
a{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: rgb(28, 53, 161);
    text-decoration: none;

}
a:hover{
    color: dodgerblue;
}
button{
    border: 0px;

    height: 2.5rem;
    border-radius: 1.2rem;
    padding-left: 1rem;
    padding-right: 1rem;
    background-color: rgb(28, 53, 161);
    color: white;
    font-weight: bold;
}
button:hover{
    background-color: dodgerblue;
    color: white;
}
