<app-header></app-header>

<mat-sidenav-container>
  <mat-sidenav #sideNav mode="side" opened>
    <app-sidebar></app-sidebar>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
<!--
<mat-tab-group>
  <mat-tab label="Board">
    <mat-card>
      <app-board></app-board>
    </mat-card>
  </mat-tab>



  <mat-tab label="Todo List Example">
    <mat-card>
      <mat-form-field>
        <input matInput placeholder="List Name" [(ngModel)]="newTodoListName" name="name">
      </mat-form-field>
      <button mat-flat-button color="primary" (click)="createList()" [disabled]="newTodoListName === ''">Create new list</button>
    </mat-card>

    <app-todo-list
      *ngFor="let todoList of todoLists"
      [todoList]="todoList"
      (update)="updateList($event)"
      (delete)="deleteList($event)"
    ></app-todo-list>
  </mat-tab>

  <mat-tab label="Authentication">
    <app-user></app-user>
  </mat-tab>

  <mat-tab *ngIf="loggedIn" label="Profile Page">
    <mat-card>
      <div>
        <img src ="{{this.getImageSrc()}}" width="50px" height="50px"/>
      </div>
      <div *ngIf="hasProfileImage(); else other">
      <button mat-flat-button color="warn" (click)="deleteProfileImage()">Delete</button>
      </div>
      <ng-template #other>
        <button type="button" (click)="imageInput.click()">Add a photo</button>
        <input hidden type="file" #imageInput  accept = "image/jpeg, image/png" (change)="processFile($event)">
        <br>
      </ng-template>

      <h1>{{this.user?.username}}</h1>
      <label for="">First name:</label>
      <p>{{this.user?.fname}}</p>
      <br>
      <label for="">Last name:</label>
      <p>{{this.user?.lname}}</p>
      <br>
      <label for="">Street:</label>
      <p>{{this.user?.street}}</p>
      <br>
      <label for="">House Number:</label>
      <p>{{this.user?.housenr}}</p>
      <br>
      <label for="">ZIP-Code:</label>
      <p>{{this.user?.zipCode}}</p>
      <br>
      <label for="">City:</label>
      <p>{{this.user?.city}}</p>
      <br>
      <label for="">E-mail:</label>
      <p>{{this.user?.email}}</p>
      <br>
      <label for="">Phone Number:</label>
      <p>{{this.user?.phonenumber}}</p>
      <br>
      <label for="">Last name:</label>
      <p>{{this.user?.lname}}</p>
      <br>
      <label for="">Birthday:</label>
      <p>{{this.user?.birthday}}</p>
    </mat-card>
    <mat-card>
      <h2>posts</h2>
      <app-post-list [mode]="'user'"></app-post-list>
    </mat-card>
  </mat-tab>

</mat-tab-group>

-->