<mat-card [ngStyle]="{'border-color': borderColor}">
            <div  id="topBar">
            <h1 id="post-tit" [routerLink] = "['/post', post.postId]">
                  {{this.post.title}}
            </h1>
            <div id="cal"><span class="post-att"> {{this.post.date}}</span></div>
            
            </div>
              <p>{{(this.post.content.length>200)? (this.post.content | slice:0:200)+'...':(this.post.content)}}</p>
              
            
            <div id="post-preview" >
                  <div>
                        <mat-icon (click)="like()" *ngIf="!voted">favorite_outline</mat-icon>
                        <mat-icon  *ngIf="voted" id="votedIcon" (click)="unlike()">favorite_outline</mat-icon>
                        <span class="post-att"> {{this.post.likes}}</span>
                  </div>
            </div>
            

</mat-card>
