<mat-card *ngIf="!editMode">
    <h1>
    {{this.post.title}}
</h1>

<p>{{this.post.content}}</p>

<div *ngIf = "post.postImage">
   <img [src] = "imageURL" >
</div>

<p>{{this.post.date}}</p>

<p>likes: {{this.post.likes}}</p>

<p>made by user: {{this.post.creatorId}}</p>

<button (click)="upvote()" *ngIf="!voted">upvote</button>

    <button (click)="bookmark()" *ngIf="loggedIn && !isBookmarked()">bookmark</button>
    <button (click)="removeBookmark()" *ngIf="loggedIn && isBookmarked()">remove bookmark</button>
    <button (click)="edit()" *ngIf="authorizedToEdit()">Edit Post</button>
<app-comments-list></app-comments-list>

</mat-card>
<mat-card *ngIf="editMode">

    <input type="text" placeholder="title" name="title" [(ngModel)]="this.changedPost.title">
    <br>
    <textarea class="contentInput" placeholder="content" name="content" cols="40" rows="10" [(ngModel)]="this.changedPost.content" ></textarea>
    <br>
    <input type="text" placeholder="semester" name="semester" [(ngModel)]="this.changedPost.semester">


    <div class = "imagePreviewContainer" *ngIf = "this.post.postImage" >
        <img [src] = "this.post.postImage">
    </div>
    <br>

    <button (click)="updatePost()">Update</button>
    <button (click)="cancelEdit()" *ngIf="authorizedToEdit()">Cancel Edit</button>
    <app-comments-list></app-comments-list>

</mat-card>
