<div *ngIf="post" id="background">

<mat-card *ngIf="!editMode && !deleted" id="frame">
    <h1>
    {{this.post.title}}
</h1>

<p>{{this.post.content}}</p>

<div *ngIf = "post.postImage">
   <img [src] = "imageURL" >
</div>

<div id="info">


<div id="likes">
<mat-icon (click)="like()" *ngIf="!voted" id="voteIcon">favorite_outline</mat-icon>
<mat-icon  *ngIf="voted" id="votedIcon" (click)="unlike()">favorite_outline</mat-icon>
<span id="like-count"> {{this.post.likes}}</span></div>
<mat-icon class="bm" (click)="bookmark()" *ngIf="loggedIn && !isBookmarked()" id="bookmarkIcon">bookmark_border</mat-icon>
<mat-icon class="bm" (click)="removeBookmark()" *ngIf="isBookmarked()" id="bookmarkedIcon">bookmark_border</mat-icon>
<mat-icon id="edit" (click)="edit()"  *ngIf="authorizedToEdit()">edit</mat-icon>
<mat-icon id="delete" (click)="deletePost()"  *ngIf="authorizedToEdit()">delete_outline</mat-icon>


<div id="post-meta">
<p>{{this.post.date}}</p>
<p>made by: {{this.creator.userName}}</p>
</div>
</div>



<app-comments-list [postId]="this.post.postId"></app-comments-list>

   
</mat-card>
<mat-card *ngIf="editMode">

    <input type="text" placeholder="title" name="title" [(ngModel)]="this.changedPost.title">
    <br>
    <textarea class="contentInput" placeholder="content" name="content" cols="40" rows="10" [(ngModel)]="this.changedPost.content" ></textarea>
    <br>
    <input type="text" placeholder="semester" name="semester" [(ngModel)]="this.changedPost.semester">


    <div class = "imagePreviewContainer" *ngIf = "this.post.postImage" >
        <img [src] = "this.post.postImage">
    </div>
    <br>

    <button (click)="updatePost()" *ngIf="isUpdatedValid()">Update</button>
    <button (click)="cancelEdit()" *ngIf="authorizedToEdit()">Cancel Edit</button>
    <app-comments-list id="comList"></app-comments-list>

</mat-card>

<mat-card *ngIf="deleted">
    <h1>
        {{this.post.title}} [DELETED]
    </h1>
</mat-card>
</div>
