<mat-card>
    <h1>
    {{this.post.title}}
</h1>

<p>{{this.post.content}}</p>

<div *ngIf = "post.postImage">
   <img [src] = "imageURL" >
</div>

<p>{{this.post.date}}</p>

<p>likes: {{this.post.likes}}</p>

<p>made by user: {{this.post.creatorId}}</p>

<button (click)="upvote()" *ngIf="!voted">upvote</button>

    <button (click)="bookmark()" *ngIf="loggedIn && !isBookmarked()">bookmark</button>
    <button (click)="removeBookmark()" *ngIf="loggedIn && isBookmarked()">remove bookmark</button>
</mat-card>
